<!DOCTYPE html>
<html>
<body>
<form action="/" method="GET">
  <input type="submit" value="Accueil">
</form>
<br><br>
<form action="" method="POST">
  <input type="hidden" name="myMethod" value="DELETE" />
  <label for="password">Mot de passe pour supprimer</label>
  <input type="password" name="password" required><br>
  <br>
  <input type="submit" value="Vider la base de données">
</form>
<br><br><br>
<form action="" method="POST">
  <input type="hidden" name="myMethod" value="PUT" />
  <label for="product">Produit (text)</label>
  <input type="text" name="product">
  <br>
  <label for="quantity">Quantitée (double)</label>
  <input type="number" step="any" name="quantity">
  <br>
  <input type="submit" value="Ajouter une nouvelle transaction">
</form>
<br><br>
{% if error %}
{{ error }}
{% endif %}
{% if state %}
{{ state }}
{% endif %}
</body>
</html>



